:root {
    --black: #0C021A;
    --white: #E7EFF3;
    --grey: #D1D9DD;
    --dark-green: #101713;
    --light-green: #35483A;
}

@font-face {
    font-family: 'Fustat';
    src: url('fonts/Fustat/Fustat-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Fustat';
    src: url('fonts/Fustat/Fustat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Fustat';
    src: url('fonts/Fustat/Fustat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair/Playfair_144pt-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair/Playfair_144pt-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair/Playfair_144pt-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair';
    src: url('fonts/Playfair/Playfair_144pt-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

.sidebar {
    height: 100%;
    width: 186px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--grey);
    overflow-x: hidden;
}

.block {
    background-color: var(--light-green);
    height: 125px;
    display: flex;
    justify-content: center;
}

.block img {
    width: 80.65%;
}

.sidebar a {
    padding-top: 67px;
    padding-left: 18px;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 20px;
    color: var(--black);
    display: block;
    font-family: 'Fustat';
    font-weight: 600;
    letter-spacing: -1.4px;
}

.sidebar a:hover {
    
}

.sidebar hr {
    border-top: 2px solid var(--black);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0px auto;
}

.spacer {
    height: 263px;
}

.footer {
    background-color: var(--white);
    height: 47px;
}

.footer p {
    font-family: 'Playfair';
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    padding-left: 18px;
    letter-spacing: -0.6px;
    float: left;
}

.footer a {
    float: left;
    padding-top: 14px;
}

.footer img {
    width: 18px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}